---
title: Jill Petersen | Design / Research
---

<% link_to "printer" do %>
<div class="fl w-100 mb4">
  <div class="fl w-100 w-20-ns ph3">
    <%= image_tag('printer.png', class: 'mw-100') %>
  </div>

  <article class="fl w-100 w-80-ns ph3">
    <h5 class="f4 measure lh-copy ma0">Printer</h5>
    <p class="f6 measure lh-copy ma0">
      Jill Petersen is a user researcher with a background in product and graphic design. She is currently looking for opportunities in qualitative data research working alongside designers.
    </p>
  </article>
</div>
<% end %>

<div class="fl w-100 mb4">
  <div class="fl w-100 w-20-ns ph3">
    <%= image_tag('deck.png', class: 'mw-100') %>
  </div>

  <article class="fl w-100 w-80-ns ph3">
    <h5 class="f4 measure lh-copy ma0">Printer</h5>
    <p class="f6 measure lh-copy ma0">
      Jill Petersen is a user researcher with a background in product and graphic design. She is currently looking for opportunities in qualitative data research working alongside designers.
    </p>
  </article>
</div>

<div class="fl w-100 mb4">
  <div class="fl w-100 w-20-ns ph3 mb4">
    <%= image_tag('usb.png', class: 'mw-100') %>
  </div>

  <article class="fl w-100 w-80-ns ph3 mb4">
    <h5 class="f4 mearuse lh-copy ma0">Printer</h5>
    <p class="f6 measure lh-copy ma0">
      Jill Petersen is a user researcher with a background in product and graphic design. She is currently looking for opportunities in qualitative data research working alongside designers.
    </p>
  </article>
</div>
