---
title: Jill Petersen | Design / Research
---

<div class="fl w-100">
  <div class="fl w-100 w-third-ns ph3-l">
    <p class="f3 measure lh-title">about</p>
  </div>

  <article class="fl w-100 w-two-thirds-ns ph3-l">
    <p class="f3 measure lh-title">
      Jill Petersen is a user researcher with a background in product and graphic design.
    </p>
    <p class="f3 measure lh-title">
      She is currently looking for opportunities in qualitative data research working alongside designers.
    </p>
  </article>
</div>

<div class="fl w-100">
  <div class="fl w-100 w-third-ns ph3-l">
    <p class="f3 measure lh-title">resume</p>
  </div>

  <article class="fl w-100 w-two-thirds-ns ph3-l">
    <p class="f3 measure lh-title"><%= link_to("download", "resume.pdf") %></p>
  </article>
</div>

<div class="fl w-100">
  <div class="fl w-100 w-third-ns ph3-l">
    <p class="f3 measure lh-title">contact</p>
  </div>

  <article class="fl w-100 w-two-thirds-ns ph3-l">
    <p class="f3 measure lh-title">jillnpetersen AT gmail.com</p>
  </article>
</div>
