---
title: Jill Petersen | Design / Research
---

<div class="debug mw9 center ph3-ns">
  <header>
    <div class="fl w-100 w-20-ns pa3">
      <h1 class="f2 lh-title">
        <%= link_to("Jill Petersen", "index.html") %></h1>
    </div>

    <div class="fl w-100 w-80-ns pa3">
      <h1 class="f2 lh-title">
        <a href="#">Design</a> / <a href="#">Research</a>
      </h1>
    </div>
  </header>

  <div class="fl w-100 w-20-ns pa3">
    <%= image_tag('printer.png', class: 'mw-100') %>
    <%= image_tag('usb.png', class: 'mw-100') %>
    <%= image_tag('deck.png', class: 'mw-100') %>
  </div>

  <article class="fl w-100 w-80-ns pa3">
    <p class="f3 measure lh-title">
      Jill Petersen is a user researcher with a background in product and graphic design. She is currently looking for opportunities in qualitative data research working alongside designers.
    </p>
  </article>
</div>

<link rel="stylesheet" type="text/css" href="https://unpkg.com/tachyons@4.11.1/css/tachyons.min.css" />


